# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

package-lock.json
test.js
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
/server/__pycache__
/server/static
/server/static2
/server/manage
/server/manage2
/server/.vscode
# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.spec
*.pyc
send
upload
*.exf
*.docx
*.sqlite3
*.sqlite
static2
home
home2
server/manage/index.html
server/manage/vite.svg
server/manage/assets/index-245d5fbe.js
server/manage/assets/index-bac50080.css
