.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.lin {
  display: flex;
  justify-content: center;
  width: 5px;
  height: 100%;
  cursor: e-resize;
  margin-top: 5px;
  margin-left: 5px;
  transition: all 0.3s;
}

.lin div {
  width: 1px;
  height: 100%;
  background-color: #b1b3b8;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 200px;
  transition: all 0.1s;
}
.aside-header {
  display: flex;
  font-size: larger;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e8e1e1;
  border-right: 2px solid #e8e1e1;
  padding: 5px 5px 5px 5px;
  box-shadow: -3px 0 15px 3px rgba(0, 0, 0, 0.1);
}
.aside-title {
  padding: 10px;
  color: #000000;
  text-align: left;
}

.lin:active {
  width: 5px;
  background-color: #b1b3b8;
  box-shadow: 0px 0px 2px 1px #b1b3b8;
}

.main {
  flex: 1;
  transition: all 0.1s;
}

.move-enter-active,
.move-leave-active {
  transition: opacity 1s ease;
}

.move-enter-from,
.move-leave-to {
  opacity: 0;
}

.el-tree-node {
  margin-top: 20px;
  /* 根据需要调整上间距 */
  margin-bottom: 20px;
  /* 根据需要调整下间距 */
}

.node-item {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #79bbff;
}
